.cart-container{
    padding: 4em 0;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
 
}

.cart-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-item-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
}

.cart-item-amount{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 0.6128em;
}

@media (min-width:650px) {
    .cart-item-amount{
        flex-direction: row;
    }
}